<footer>

  <div class="footer-bottom">

    <pagering-link theme="light"></pagering-link>

    <p class="copyright">© {{ site.name }}</p>
    <div class="blinkies">
  
    </div>
    <div class="social-links" target="_blank" rel="noopener noreferrer">
      <a href="mailto:hi@seneth.me">
        <img src='/content/email.gif' class="social-icon" alt="email gif"/>
      </a>
      <a href="https://github.com/sen3th" target="_blank" rel="noopener noreferrer">
        <img src='/content/github.gif' class="social-icon" alt="github gif"/>
      </a>
      <a href='https://bsky.app/profile/seneth.me' target="_blank" rel="noopener noreferrer">
        <img src='/content/bsky.png' class="social-icon" alt="bluesky"/>
      </a>
      <a href='/feed.xml' target="_blank" rel="noopener noreferrer">
        <img src='/content/rss-rotating.gif' class="social-icon" alt="rss"/>
      </a>
    </div>
  </div>
</footer>
