<nav>
  <a class="nav" href="/">Home</a>
  <a class="nav" href="/writings/">Writings</a>
  <a class="nav" href="/things/">Things</a>
  <a class="socials" href="https://github.com/sen3th/" target="_blank" rel="noopener noreferrer">GitHub</a>
</nav>
