---
layout: base.njk
---

<article>
  <header>
    <h1 class="header">{{ title }}</h1>
    <p class="postIntro">
      Published on <time datetime="{{ date | date }}">
        {{ date | date }}
      </time>
    </p>
  </header>

  {{ content | safe }}
</article>
