---
layout: base.njk
---

<article>
  <h1 class="header">{{ title }}</h1>

  <p>
    <time datetime="{{ date }}">
      {{ date | date("yyyy-MM-dd") }}
    </time>
  </p>

  {{ content | safe }}
</article>
