---
layout: base.njk
title: Things
eleventyExcludeFromCollections: true
---

<h1 class="header">Things I've built</h1>
<ul>

<li>
    <a class="things" href="https://humane.seneth.me/" target="_blank" rel="noopener noreferrer">Humane - social deduction game with bots</a>
</li>

<li>
    <a class="things" href="https://albums.seneth.me/" target="_blank" rel="noopener noreferrer">Albums - Find similar albums</a>
</li>

<li>
    <a class='things' href="https://cweþan.seneth.me/" target="_blank" rel="noopener noreferrer">Cweþan - simple aesthetic quote site</a>
</li>

<li>
    <a class="things" href="https://sos.seneth.me/" target="_blank" rel="noopener noreferrer">sOS - aesthetic operating-system-like site</a>
</li>

<li>
    <a class="things" href="https://bunny.seneth.me/" target="_blank" rel="noopener noreferrer">Jumpp - infinite jumping platformer made with phaserjs</a>
</li>

</ul>

<p> See my <a href="https://github.com/sen3th" target="_blank" rel="noopener noreferrer">github</a> for more goofy stuff</p>