---
layout: base.njk
title: Things
eleventyExcludeFromCollections: true
---

<h1 class="header">Things I've built</h1>
<ul>

<li>
    <a class='things' href="https://cweþan.seneth.me/" target="_blank" rel="noopener noreferrer">Cweþan - simple aesthetic quote site</a>
</li>

<li>
    <a class="things" href="https://sos.seneth.me/" target="_blank" rel="noopener noreferrer">sOS - aesthetic operating-system-like site</a>
</li>

<li>
    <a class="things" href="https://tomato.seneth.me/" target="_blank" rel="noopener noreferrer">tomato - simple study dashboard with a pomodoro timer</a>
</li>

<li>
    <a class="things" href="https://bunny.seneth.me/" target="_blank" rel="noopener noreferrer">Jumpp - infinite jumping platformer made with phaserjs</a>
</li>

<li>
    <a class="things" href="https://ss.seneth.me/" target="_blank" rel="noopener noreferrer">Subspace - subscription tracker made with firebase</a>
</li>

<li>
    <a class="things" href="https://draw.seneth.me/" target="_blank" rel="noopener noreferrer">draw - simple html sketch site</a>
</li>

<li>
    <a class="things" href="https://gloom.seneth.me/" target="_blank" rel="noopener noreferrer">Gloom - minimalist mood tracker</a>
</li>

</ul>