---
layout: base.njk
title: Things
eleventyExcludeFromCollections: true
---

<h1 class="header">Things I've built</h1>

<nav aria-label="Projects collection">
  <ul>
    <li>
      <a class='things external-link' href="https://cweþan.seneth.me/" target="_blank" rel="noopener noreferrer" aria-label="Cweþan - simple aesthetic quote site (opens in new window)">
        Cweþan - simple aesthetic quote site
      </a>
    </li>

    <li>
      <a class="things external-link" href="https://sos.seneth.me/" target="_blank" rel="noopener noreferrer" aria-label="sOS - aesthetic operating-system-like site (opens in new window)">
        sOS - aesthetic operating-system-like site
      </a>
    </li>

    <li>
      <a class="things external-link" href="https://tomato.seneth.me/" target="_blank" rel="noopener noreferrer" aria-label="tomato - simple study dashboard with a pomodoro timer (opens in new window)">
        tomato - simple study dashboard with a pomodoro timer
      </a>
    </li>

    <li>
      <a class="things external-link" href="https://bunny.seneth.me/" target="_blank" rel="noopener noreferrer" aria-label="Jumpp - infinite jumping platformer made with phaserjs (opens in new window)">
        Jumpp - infinite jumping platformer made with phaserjs
      </a>
    </li>

    <li>
      <a class="things external-link" href="https://ss.seneth.me/" target="_blank" rel="noopener noreferrer" aria-label="Subspace - subscription tracker made with firebase (opens in new window)">
        Subspace - subscription tracker made with firebase
      </a>
    </li>

    <li>
      <a class="things external-link" href="https://draw.seneth.me/" target="_blank" rel="noopener noreferrer" aria-label="draw - simple html sketch site (opens in new window)">
        draw - simple html sketch site
      </a>
    </li>

    <li>
      <a class="things external-link" href="https://gloom.seneth.me/" target="_blank" rel="noopener noreferrer" aria-label="Gloom - minimalist mood tracker (opens in new window)">
        Gloom - minimalist mood tracker
      </a>
    </li>
  </ul>
</nav>