---
title: Big Numbers
date: 2026-06-05
---

<p class='postIntro'>This is something just came to my mind the other day. I'm pretty sure this it's not new and been covered by many. I just wanted to share my thoughts on it. <br> (The em dashes are all mine and no ai was used)</p>

<hr>

<div class="writings">

<p>
I recently downloaded Flightly. It’s a beautifully made flight tracking app with real time flight data and—the thing I like the most about it— the analytics. It shows an overview of which countries I’ve been to with it’s “passport”, types of airplanes I’ve flown in and tons of more in a really pretty format. Plus, it gives me a very cool count of how much time I’ve wasted in delays that kinda makes me hope my flight arrives late.
</p>

<p>
None of these data is really important nor useful for an average person. Then why do people—me at least— enjoy them.
</p>

<p>
This is because people LOVE big numbers. Everybody likes the dopamine hit that they get from numbers that THEY actually “did”. This applies even for really small tasks that adds up to be very big overtime. 
</p>

<p>
I manage a calendar for pretty much everything in my life. Words cannot describe how happy I feel after looking back at a month without a drop of whitespace under any date. I get that fulfilled sentiment of “I did all of these”.
</p>

<p>
This is also why companies use streaks to keep people on a platform.
</p>

<p>
You regularly participate in an online platform → You unknowingly earn a streak → After sometime you realize you have this kinda big, most of the time—from my experience— double digit number that you don’t just wanna loose → You keep coming to the platform just to maintain the streak. And so on and so forth.
</p>

<p>
The thing is that this loop is very effective because, though, the reward means nothing in real life, people value it, cause, THEY “did” it. That big number is there because of them. It gives a sentiment of fullness and productivity.
</p>

<p>
It’s also a social thing. It has been performative to display these and grab attention. After all, we’re still humans. (coughing in 750+ day reddit streak).
</p>

<p>
Nowadays, most artificial numbers that you see on social media, are largely just a show off. And, there’s nothing wrong with it cause no matter how performative it is, THEY “did” it.
</p>

</div>

<br>

<img src="/content/Charles-Towneley.png" class="writingsImage" alt="Charles Towneley in his Sculpture Gallery 1782">

<p
class="imageCaption">Charles Towneley (1737-1805) was the most famous of the many English collectors. Zoffany portrayed him in his library with an imaginary assembly of the entire collection in the one room. 
<br>
<a href="https://www.wga.hu/html/z/zoffany/towneley.html" target="_blank">Web Gallery of Art</a></p>
