---
layout: base.njk
title: Home
---
<h1 class='header'>scrumdiddlyumptious trogglehumper </h1>
<p>hi! Welcome to another website on the internet. This one is mine.</p>

<a href="mailto:hi@seneth.me">
<img src='https://bettysgraphics.neocities.org/images/web%20graphics/email%2026.gif' can-move id='email' alt="email gif"/>
</a>
