::selection {
    background: rgb(241, 255, 132);
    color: black;
}

body{
    background-color: azure;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header{
    padding-left: 2.5%;
    padding-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    color: rgb(70, 70, 129);
    font-family: 'MANUSCRITE', sans-serif;
    font-weight: normal;
    font-style: italic;
    font-size: 3rem;
    margin: -1%;
}

nav {
    padding: 1%;
    padding-left: 2%;
    font-family: 'MANUSCRITE', sans-serif;
    font-weight: bolder;
    font-size: 1.25rem;
    display: flex;
    gap: 2%;
}

.header:hover {
    color: rgb(67, 28, 69);
    transition: color 0.5s;
}

footer {
    text-align: left;
    margin-top: auto;
    width: 100%;
    padding-left: 0%;
    padding-top: 2rem;
}

p {
    padding-left: 2%;
    font-family: 'IM FELL FRENCH CANON', serif;
    font-size: 1.125rem;
    color: rgb(50, 50, 90);
}

footer p {
    font-size: 1rem;
    color: rgb(100, 100, 130);
}

a {
    text-decoration: none;
    color: rgb(3, 68, 64);
}

li {
    list-style-type: circle;
    font-family: 'IM FELL FRENCH CANON', serif;
    font-size: 1.125rem;
    color: rgb(50, 50, 90);
}